{% extends 'base.html' %}

{% block title %}
Withdraw Money
{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Withdraw Money from Account: {{ account.account_number }}</h2>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-danger btn-block">Withdraw</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
